<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="/api/v1" method="POST">
        <label for="nombre">Ingresa tu nombre</label>
        <input type="text" name="nombre"><br/>

        
        <label for="apellido">Ingresa su apellido</label>

        <label for="apellido">Ingresa tu apellido</label>

    <form action="/api/v1" method="post">
        <label for="nombre">Ingresa tu nombre</label>
        <input type="text" name="nombre"><br/>
        <label for="apellido">Ingresa tu apellido</label>

        <input type="text" name="apellido"><br/>

        <label for="cedula_identidad">Su número de cédula de identidad</label>
        <input type="value" name="cedula_identidad"><br/>

        <label for="edad">Edad</label>
        <input type="value" name="edad"><br/>
    
        <label for="telefono">Telefono</label>
        <input type="value" name="telefono"><br/>

        <label for="latitud">Latidud</label>
        <input type="value" name="latitud"><br/>

        <label for="longitud">Longitud</label>
        <input type="value" name="longitud"><br/>

        <label for="fecha_registro">Fecha de Registro</label>
        <input type="date" name="fecha_registro"><br/>

        <input type="submit" value="Enviar" />
        

    </form>



</body>
</html>